* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
/* h1{
    font-family: 'PT Serif', serif;
} */
/* :root{
    
} */
nav {
  display: flex;
  justify-content: space-between;
  padding: 5vw 7vw;
  align-items: center;
}
nav button {
  background-color: #5558db;
  color: #ffffff;
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  /* margin-top: -15px; */
}
.hero {
  display: flex;
  padding: 5vw 7vw;
}
.Urano {
  flex: 40%;
  padding-top: 10em;
  width: 30px;
  /* width: 50%; */
}
.Urano h2 {
  font-size: 32px;
  padding-bottom: 10px;
  margin-top: 10px;
  color: #0b162b;
  font-weight: 700;
  /* font-size: 64px; */
  /* line-height: 72px; */
  /* line-height: 10px; */
}
.Urano p {
  font-family: "PT Serif";
  padding-bottom: 10px;
  /* line-height: 1.5em; */
  color: #0b162b;
  /* font-family: 'PT Serif'; */
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
}

.store {
  display: flex;
  gap: 10px;
}
.store img {
  width: 120px;
}
.iphone {
  flex: 60%;
  /* padding-left: 17em; */
  position: relative;
  /* width: 50%; */
  /* margin-left: 15em; */
}
.iphone img {
  position: absolute;
  width: 250px;
  height: auto;
  right: 6em;
}
.sectionTwo {
    margin: 4em 0;
  display: flex;
  padding: 5vw 7vw;
  gap: 1em;
}
hr {
  background-color: #5558db;
  width: 37%;
  margin: 1em 0; 
  padding-top: 3px; 
}
.videoPlayBack div:nth-of-type(1){
background-color:#0B162B ;
}
.videoPlayBack div:nth-of-type(1) h2{
    color: #FFFFFF;
    
}
.videoPlayBack div:nth-of-type(1) p{
    color: #FFFFFF;
}
.videoPlayBack div:nth-of-type(2) img{
    max-width: 100%;
}
