* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
/* h1{
    font-family: 'PT Serif', serif;
} */
/* :root{
    
} */
nav {
  display: flex;
  justify-content: space-between;
  padding: 5vw 7vw;
  align-items: center;
}
nav button {
  background-color: #5558db;
  color: #ffffff;
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* margin-top: -15px; */
}
.hero {
  display: flex;
  padding: 5vw 7vw;
}
.Urano {
  flex: 40%;
  padding-top: 10em;
  width: 30px;
  /* width: 50%; */
}
.Urano h2 {
  font-size: 32px;
  padding-bottom: 10px;
  margin-top: 10px;
  color: #0b162b;
  font-weight: 700;
  /* font-size: 64px; */
  /* line-height: 72px; */
  /* line-height: 10px; */
}
.Urano p {
  font-family: "PT Serif";
  padding-bottom: 10px;
  /* line-height: 1.5em; */
  color: #0b162b;
  /* font-family: 'PT Serif'; */
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
}

.store {
  display: flex;
  gap: 10px;
}
.store img {
  width: 120px;
}
.iphone {
  flex: 60%;
  /* padding-left: 17em; */
  position: relative;
  /* width: 50%; */
  /* margin-left: 15em; */
}
.iphone img {
  position: absolute;
  width: 250px;
  height: auto;
  right: 6em;
}
.sectionTwo {
  margin: 4em 0;
  display: flex;
  padding: 5vw 7vw;
  gap: 1em;
}
hr {
  background-color: #5558db;
  width: 37%;
  margin: 1em 0;
  padding-top: 3px;
}
.videoPlayBack div:nth-of-type(1) {
  background-color: #0b162b;
  padding: 5vw 7vw;
}
.videoPlayBack div:nth-of-type(1) h2 {
  color: #ffffff;
  padding-bottom: 1em;
}
.videoPlayBack div:nth-of-type(1) p {
  color: #ffffff;
  max-width: 50%;
  padding-bottom: 2em;
}
.videoPlayBack div:nth-of-type(1) button {
  background-color: #5558db;
  color: #ffffff;
  padding: 1em 3em;
  border: none;
}
.videoPlayBack div:nth-of-type(2) {
  /* position: relative; */
  background-image: url(./Assets/videoPlayBack.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* .videoPlayBack div:nth-of-type(2) img {
  max-width: 100%;
} */
.videoPlayBack div:nth-of-type(2) h2 {
  /* position: absolute; */
  bottom: 5em;
  color: #ffffff;
  /* padding: 5vw 7vw; */
  padding-left: 7vw;
  padding-top: 45vh;
}
.videoPlayBack div:nth-of-type(2) p {
  padding-left: 7vw;
  padding-top: 1vh;
  padding-bottom: 5vh;
  /* bottom: 2em; */
  /* position: absolute; */
  /* padding: 5vw 7vw; */
  color: #ffffff;
  width: 60%;
  font-family: PT Serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
}
.Lorem {
  padding: 5vw 7vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "iphoneBlack 1orem1 lorem2"
    "iphoneBlack lorem3 lorem4";
  gap: 1em;
}
.iphoneBlack {
  grid-area: iphoneBlack;
}
.lorem1 {
  padding-top: 5em;
  /* align-content: center; */
  text-align: center;
  padding-left: 2em;
  /* grid-area: lorem1; */
}
.lorem1 img {
  padding-bottom: 1em;
}
.lorem2 {
  padding-top: 5em;
  text-align: center;
  padding-right: 2em;

  /* grid-area: lorem2; */
}
.lorem2 img {
  padding-bottom: 1em;
}
.lorem3 {
  /* grid-area: lorem3; */
  text-align: center;
  padding-left: 2em;
}
.lorem3 img {
  padding-bottom: 1em;
}
.lorem4 {
  /* grid-area: lorem4; */
  text-align: center;
  padding-right: 2em;
}
.lorem4 img {
  padding-bottom: 1em;
}
footer {
  background-color: #0b162b;
  text-align: center;
}
footer div:nth-last-of-type(1) {
  padding-top: 5em;
  /* text-align: center; */
  color: #ffffff;
}
footer div > h2 {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;

}
footer div > p {
  font-family: PT Serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;

}
footer div > button {
  background-color: #5558db;
  color: #ffffff;
  padding: 1em 5em;
  border: none;
  text-align: center;
}
/* footer div> hr {
  text-align: center;
  display: none;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.2;
} */
/* display: grid;
padding: 2em;
grid-template-areas:
  "elementOne elementOne elementTwo elementThree"
  "elementFour elementFive elementFive elementThree";
gap: 1em; */
