* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
/* HEADER SECTION */
nav {
  display: flex;
  justify-content: space-between;
  padding: 5vw 7vw;
  align-items: center;
}
nav button {
  background-color: #5558db;
  color: #ffffff;
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
nav button:hover {
  background-color: #4a06c9;
  color: #ffffff;
  opacity: 0.5;
}
/* HERO SECTION */
.hero {
  display: flex;
  padding: 5vw 7vw;
}
.Urano {
  padding-top: 7em;
}
.Urano h2 {
  font-size: 42px;
  padding-bottom: 10px;
  /* margin-top: 10px; */
  color: #0b162b;
  font-weight: 700;
  /* line-height: 40px; */
}
.Urano p {
  font-family: "PT Serif";
  padding-bottom: 1em;
  width: 60%;
  padding-bottom: 10px;
  color: #0b162b;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
}
.gp {
  width: 120px;
}
.ap {
  width: 115px;
}
.store {
  display: flex;
  align-content: center;
  gap: 10px;
}

.iphone svg {
  height: 75vh;
  padding-right: 5em;
}
/* ANIMATION EFFECT */
/* .iphone {
  animation-timing-function: ease-in;
  position: relative;
  animation-delay: 2s;
  animation-name: iphone;
  animation-direction: alternate-reverse;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes iphone {
  0% {
    right: 0px;
    top: 0px;
  }
  25% {
    right: 100px;
    top: 0px;
  }
  50% {
    right: 100px;
    top: 100px;
  }
  75% {
    right: -10px;
    top: 100px;
  }
  100% {
    right: -10px;
    top: 0px;
  }
} */
/* SECTION TWO */
.sectionTwo {
  margin: 4em 0;
  display: flex;
  padding: 5vw 7vw;
  gap: 1em;
}
.sectionTwo P {
  background-color: #ffffff;
  opacity: 0.5;
}
hr {
  background-color: #5558db;
  width: 37%;
  margin: 1em 0;
  padding-top: 3px;
}

/* MEDIA QUERIES FOR RESPONSIVENESS */
@media only screen and (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column;
  }
  .Urano {
    padding-top: 2em;
  }
  .Urano h2 {
    text-align: center;
    font-size: 28px;
  }
  .Urano p {
    text-align: center;
    width: auto;
  }
  .store {
    justify-content: center;
  }
  .iphone svg {
    padding-right: 2em;
  }
}
@media only screen and (max-width: 890px) {
  .Urano h2 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 768px) {
  .sectionTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: justify;
    text-align: -webkit-center;
    margin: 0 2em;
  }
  .services {
    display: flex;
    flex-direction: column;
    gap: 1em !important;
  }
  .videoPlayBack div:nth-of-type(1) h2 {
    font-size: 28px !important;
    text-align: center;
  }
  .videoPlayBack div:nth-of-type(1) p {
    width: 100% !important;
    font-size: 15px !important;
    line-height: 20px !important;
    text-align: center;
  }
  .videoPlayBack div:nth-of-type(1) button {
    justify-content: center;
    margin-left: 20%;
  }
  #videoTextH {
    display: none;
  }
  #videoTextP {
    display: none;
  }
  .Lorem {
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    align-items: center !important;
    margin-top: 1em;
  }
  .lorem1,
  /* .lorem2, */
  /* .lorem4 */
  .lorem3 {
    padding-top: 2em !important;
    text-align: center;
    padding-left: 0em !important;
    line-height: 30px;
  }
  .lorem2,
  .lorem4 {
    padding-top: 2em !important;
    line-height: 30px;
    text-align: center;
    padding-right: 0em !important;
  }
}
/* VIDEO PLAYBACK SECTION */
.videoPlayBack div:nth-of-type(1) {
  background-color: #0b162b;
  padding: 5vw 7vw;
}
.videoPlayBack div:nth-of-type(1) h2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 48px;
}
.videoPlayBack div:nth-of-type(1) p {
  color: #ffffff;
  width: 80%;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 2em;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.videoPlayBack div:nth-of-type(1) button {
  background-color: #5558db;
  color: #ffffff;
  padding: 1em 3em;
  border: none;
}
.videoPlayBack div:nth-of-type(1) button:hover {
  background-color: #5558db;
  opacity: 0.5;
  color: #ffffff;
  cursor: grab;
}
.videoIframe {
  position: relative;
}
.videoIframe img {
  width: 100%;
  height: auto;
}
#videoTextH {
  font-size: 34px;
  position: absolute;
  z-index: 1;
  color: #ffffff;
}
#videoTextP {
  z-index: 1;
  position: absolute;
  bottom: 2em;
  color: #ffffff;
}

.videoPlayBack div:nth-of-type(2) h2 {
  bottom: 5em;
  color: #ffffff;
  padding-left: 7vw;
  padding-top: 45vh;
}
.videoPlayBack div:nth-of-type(2) p {
  padding: 1vh 0 5vh 7vw;
  color: #ffffff;
  width: 60%;
  font-family: PT Serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  mix-blend-mode: normal;
  opacity: 0.5;
}
/* LOREM SECTION */
.Lorem {
  padding: 5vw 7vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "iphoneBlack 1orem1 lorem2"
    "iphoneBlack lorem3 lorem4";
  gap: 2em;
  text-align: center;
}
.iphoneBlack img {
  height: auto;
  margin: 0 auto;
  width: 100%;
}
.iphoneBlack {
  grid-area: iphoneBlack;
}
.lorem1 {
  padding-top: 5em !important;
  text-align: center;
  padding-left: 2em;
}
.lorem1 img,
.lorem2 img,
.lorem3 img,
.lorem4 img {
  padding-bottom: 1em;
}
.lorem2 {
  padding-top: 5em;
  text-align: center;
  padding-right: 2em;

  grid-area: lorem2;
}
.lorem3 {
  grid-area: lorem3;
  text-align: center;
  padding-left: 2em;
}
.lorem4 {
  grid-area: lorem4;
  text-align: center;
  padding-right: 2em;
}
/* FOOTER */
footer {
  background-color: #0b162b;
  text-align: center;
  padding-bottom: 4em;
  padding-top: 4em;
}
footer div:nth-last-of-type(1) {
  padding-top: 2em;
  color: #ffffff;
}
footer div > h2 {
  padding-top: 2em;
  font-weight: 700;
  letter-spacing: 0px;
  color: #ffffff;
}
footer div > p {
  font-family: PT Serif;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}
footer div > button {
  background-color: #5558db;
  color: #ffffff;
  padding: 1em 5em;
  margin-top: 1em;
  border: none;
  text-align: center;
}
footer div > button:hover {
  background-color: #5558db;
  color: #ffffff;
  opacity: 0.5;
  cursor: grabbing;
}
.line::before {
  content: "";
  background: #ffffff;
  height: 1px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  transform: translateY(1px);
  mix-blend-mode: normal;
  opacity: 0.2;
}
.services {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  padding-top: 2em;
}
.services ul a {
  text-decoration: none;
  line-height: 2em;
  color: #ffffff;
  font-family: "PT Serif";
  mix-blend-mode: normal;
  opacity: 0.5;
}
.services ul a li {
  list-style: none;
}
.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
/* .fa {
  gap: 2em;
  color: #dbd8d89a;
  opacity: 0.5;
} */
aside {
  padding-top: 1em;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  padding-bottom: 2em;
}
